[Unit]
Description=Slippy Slack bot
After=network.target

[Service]
ExecStart=/home/sweetpea/dev/slippybot/target/release/slippybot
KillMode=process
Restart=always
RestartSec=30
WorkingDirectory=/home/sweetpea/dev/slippybot
Environment="RUST_LOG=slippybot=info"

[Install]
WantedBy=default.target
